@font-face {
  font-family: NotoSans-Regular;
  src: url('../fonts/NotoSans/NotoSans-Regular.ttf');
}

@font-face {
  font-family: symbols;
  src: url('../fonts/combined.ttf');
}

.symbol
{
  font-family: symbols;
}
.clickable
{
  cursor:pointer;
}

html , body
{
	height:100%;
	width:100%;
}

body
{
  padding: 0;
  margin: 0 auto;
}

.error {color: #FF0000;}

.center
{
	margin-left: auto;
  margin-right: auto;
	display: block;
}

.leftColumn, .rightColumn, .middleColumn
{
	box-sizing: border-box;
	float: left;
	padding: 1vw;
	height: 100%;
}

.leftColumn
{
	width: 20%;
}

.rightColumn
{
	width: 20%;
}

.middleColumn
{
	width: 60%;
}

.generatedButtons
{
  display:flex;
  flex-wrap:wrap;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  text-align: left;
}

.chatSetting
{
	position:fixed;
	height: 2vw;
	padding: 1vw;
	max-height: 50%;
	width: 20%;
	bottom: 0;
  right: 0;
	transition: height 0.2s ease-out;
	margin-right: 0.3vw;
	background-color:#102838;
	z-index: 9999;
}

.chat
{
	height: 100%;
	width: 100%;
	/*
	position:fixed;
	height: 3vw;
	max-height: 50%;
	width: 20%;
	bottom: 0;
  right: 0;
	transition: height 0.2s ease-out;
	margin-right: 0.3vw;
	*/
}

/*Placeholder, might not be needed*/
.chatBox
{
	margin-bottom: 1vw;
	height: 70%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/*
.active, .collapsible:hover {
	background-color: #131f29;
}
*/

/* Style the collapsible content. Note: hidden by default */
.collapsibleContent {
	padding: 0.1vw 0.2vw 0.1vw 0.8vw;
	margin-bottom: 1.5vw;
  overflow: visible;
	border-radius: 25px;
	background-color: #131f29;
}

/*Style for the chat name*/
.name{
	color: #969696;
}
/*Style for the chat text*/
.chatText
{
	color:black;
}
.chatInput
{
	width:100%;
	padding-left: 0;
	padding-right: 0;
	/*
	margin-left: auto;
  margin-right: auto;
	*/
}


.onlineStatus
{
	color: lightskyblue;
}
.offlineStatus
{
	color: grey;
}

.loader {
  border-radius: 50%;
  border-top: 16px solid red;
  border-right: 16px solid green;
  border-bottom: 16px solid blue;
	border-left: 16px solid cyan;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.gameText{
	text-align: center;
	margin-top: 10%;
	font-size: xx-large;
}

.animatedDots:before{
	content: '';
	animation: loadingTextAnim 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes loadingTextAnim {
	0%{content: '';}
	25%{content: '.';}
	50%{content: '..';}
	75%{content: '...';}
	100%{content: '....';}
}

.darkLayer {
  background-color: rgba(0, 0, 0, .6);
  height: 100%;
  width: 100%;
  position: fixed;
	top: 0;
	left: 0;
	z-index: 9998;
}

.rps 
{
	display:block;
	text-align: center;
	font-size: 5vw;
	width:20%;
	height:fit-content;
}

#rpsWrapper
{
	display:flex;
	justify-content: center;
	gap: 5vw;
	height: 50%;
	align-items: flex-end;

}

.buttonWrapper
{
	display:flex;
	justify-content: center;
	gap: 1vw;
	align-items: flex-end;

}

#lobbyButton:hover #lobbySpan {
  display: none
}

#lobbyButton:hover:before {
  font-family:symbols;
  content: '\E919';/*&#xE919;*/
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) 
{
	.leftColumn, .rightColumn, .middleColumn 
	{
		width: 100%;
		height: auto;
	}
}

@media (prefers-color-schvwe: light) 
{
	.name{
		color: #121111;
	}
	.chatText
	{
		color:black;
	}
}
@media (prefers-color-schvwe: dark) 
{
	.name{
		color: #969696;
	}
	.chatText
	{
		color:white;
	}
}

